.o_weather {
  float: right;
  height: 100%;  
  width: 268px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.o_weather_day{
  font-size: 85%;
  font-weight: bold;
  text-align: right;
}

.o_weather_text{
  font-size: 80%;
  font-weight: normal;
  text-align: right;
}
/*
.o_weather table{
	width: 100%;
	
}*/